In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.DataFrame({"col1" L: [1, 2, 3, 4],
                  "col2" : [444, 555, 666, 444],
                  "col3" : ["abc", "def", "ghi", "xyz"]})
df.head()

In [ ]:
df["col2"].nunique()

In [ ]:
df["col2"].value_counts()

In [ ]:
df[df["col1"] > 2 & (df["col2"] == 444)]

In [ ]:
df["col1"] > 2

In [ ]:
def times2(x):
    return x*2

In [ ]:
df["col1"].apply(times2)

In [ ]:
df["col3"].apply(lambda x: x*2)

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
df.sort_values("col2")

In [ ]:
df.isnull()

In [ ]:
data = {"A" : ["foo", "foo", "foo", "bar", "bar", "bar"],
       "B" : ["one", "one", "one", "two", "two", "two"],
       "C" : ["x", "y", "x", "y", "x", "y"]}
df = pd.DataFrame(data)

In [ ]:
df.pivot_table(values="D", index["A", "B"], columns=["C"])